 html, body {
	margin: 0px;
	padding: 0px;
} 

.main {
	text-align: center;
}

#showcase{	background: url('../images/phone.jpg');
background-size: cover;
height: 100vh;
	min-height:500px;
	text-align: center;
	font-color: white;
	background-position: center;
}


footer {
  margin-top: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  background-color: #242f44;
  z-index: 5;
}
footer h3 {
  display: inline-block;
  font-size: 14px;
  background-color: #242f44;
}

h3 {
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
  color: sienna;
}

form {
	text-align: center;
	color: sienna;
	font-family: bold;

}

form input:focus,
form textarea:focus{
	outline: none;
	border-color: red;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: cursive;
	font-weight: 500;
	
}

.current {
	background-color: firebrick;
	border-radius: 4px;
}